:root, html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;

    background-color: wheat;
    padding: 10px;
}

header > h1 {
    flex-grow: 3;
}

header > nav {
    flex-grow: 1;
}

nav > ul {
    list-style-type: none;
    display: flex;
}

nav > ul > li {
    margin-right: 5px;
}

nav > ul > li > a:hover {
    color: red;
}

nav > ul > li > a {
    text-decoration: none;
    color: brown;
}

nav > ul > li > a:active {
    color: blue;
}



/* Override Django default styling */
h1 {
    margin: 0;
}

h1 {
    color: rgb(78, 78, 182);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 35px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}