{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
    <script src="{% static 'js/highlight-link.js' %}"></script>
</head>
<body>
    {% include '../partials/nav.html' %}

    {% block blog-content %}
    {% endblock blog-content %}

    <footer>2020 &copy; {{ app_name }} by CodeEnzyme</footer>
</body>
</html>