:root, html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: maroon;
    padding: 10px;
}

header > h1 {
    flex-grow: 3;
}

header > nav {
    flex-grow: 1;
}

nav > ul {
    list-style-type: none;
    display: flex;
}

nav > ul > li {
    margin-right: 15px;
}

nav > ul > li > a:hover {
    opacity: 0.8;
}

nav > ul > li > a {
    text-decoration: none;
    color: antiquewhite;
}



/* Override Django default styling */
h1 {
    margin: 0;
}

h1 {
    color: bisque;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 35px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-link {
    color: white;
    font-weight: bold;
}

.pagination-link {
    text-decoration: none;
    color: cadetblue;
}

.active-link {
    color: maroon;
}

#signed-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signed-in > h4 {
    color: bisque;
    margin-right: 80px;
}

#signed-in > a {
    color: maroon;
    text-decoration: none;
    font-size: 0.8em;
    padding: 6px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px #00000055;
    border-radius: 3px;
    background-color: burlywood;
    position: absolute;
    right: 11px;
}

#signed-in > a:hover {
    box-shadow: 1px 1px 1px 1px #00000099;
    background-color: navajowhite;
}

#signed-in > a:active {
    font-size: 0.7em;
    box-shadow: 1px 1px 5px 1.2px #000000DD;
}